.chat-rooms {
  background-color: rgb(215, 208, 226);
  padding-left: 3rem;
  height: 100vh;
}

.bloc-chat-header {
  display: inline-block;
  padding-left: 1rem;
}

button.modal-button {
  margin: 2rem 0 0 3rem;
}

.chat-rooms-list {
  padding-left: 3rem;
  margin-top: 3rem;
}

.chat-room {
  font-weight: 500;

  border-bottom: solid rgb(160, 160, 160) 1px;
}

.chat-room-window {
  height: 100vh;
}

a.chat-room-link {
  text-decoration: none;

}

h4.chat-room-name {
  padding: 2rem 0 2rem 2rem;
  color: rgb(0,0,0);
  margin: 0;
}
.chat-room:hover {
  cursor: pointer;
  background-color: rgba(189, 167, 224, 0.7);
}
.chat-room:hover h4.chat-room-name {
  color: rgb(255,255,255);
}
a.chat-room-link:active h4.chat-room-name {
  color: rgb(0,0,0);
}
