<!DOCTYPE html>
<html ng-app="blocChat">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BlocChatRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <section class="chat-rooms col-md-3" ng-controller="HomeCtrl as home">
        <div ng-controller="ModalCtrl as modal">
          <h1 class="bloc-chat-header">Bloc Chat</h1>
          <button type="button" class="btn btn-default modal-button" ng-click="modal.open()">New Room</button>
        </div>
        <div class="chat-rooms-list">
          <div class="chat-room" ng-repeat="room in home.chatRooms">
            <a class="chat-room-link" ui-sref="room({id:{{room.id}}})">
              <h4 class="chat-room-name">
                {{ room.name }}
              </h4>
            </a>
          </div>

        </div>
      </section>
      <section class="chat-room-window col-md-9">
        <ui-view><ui-view>
      </section>
    </div>
  </div>


</body>
</html>
